.builder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0;
}

.builder button {
  display: block;
  font: inherit;
  padding: 5px;
  margin: 0 12px;
  width: 80px; 
  background: #28e1e1;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  outline: none;
}

.builder div {
  color: #0a4d91;
  margin: 0 12px;
}
